body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #caf5ef;
}

table {
    width: 80%;
}

td, th {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.header {
    background: rgb(157, 245, 230);
    font-weight: bold;
    padding: 1em 1em;
    font-size: 1em;
}

.content {
    background: rgb(232, 250, 246);
    padding: 1.5em 2em;
}

.friend_search {
    display: block;
    float: right;
}

.logout {
    display: block;
    float: right;
}