{% extends "layout.html" %}
{% block content %}

<div class="nav">
    <nav>
        <ul>
            <li><a href="/main">Etusivu</a></li>
            <li><a href="/exercises">Treenit</a></li>
            <li><a href="/friends">Kaverit</a></li>
            <div class="logout"><li><a href="/logout">Kirjaudu ulos</a></li></div>
        </ul>
    </nav>
</div>

<div class="content">

<p><h2>Treenilista:</h2><br>
{% if not information %}
<p>Et ole luonut vielä yhtäkään treeniä.</p>
{% else %}
{% for info in information %}
<b><a href="/exercise/{{ info.id }}/{{ session.user_id }}">{{ info.type }}</a></b><br>
{{ info.hours }}h {{ info.minutes }}min
<hr>
{% endfor %}
{% endif %}
</p>


</div>

{% endblock %}