{% extends "layout.html" %}
{% block content %}

<div class="content">

<h2>Treenin tiedot</h2>

{% for info in information %}
<p><b>Päivämäärä:</b> {{ date }}</p>
<p><b>Laji:</b> {{ info.type }}</p>
<p><b>Kesto:</b> {{ info.hours }}h {{ info.minutes }}min</p>
<p><b>Luotu</b> {{ timestamp }}</p>
<p><b>Kommentit:</b> </p>
{% for comment in comments %}
<hr>
<p><b>{{ comment.name }}:</b> {{ comment.comment }}</p>
{% endfor %}
<hr>

<p><form action="/comment" method="POST">
<textarea name="comment" rows="3" cols="50" maxlength="1000"></textarea>
<button name="id" type="submit" value="{{ info.id }}">Lisää kommentti</button>
<input type="hidden" name="owner" value="{{ owner }}"/>
</form></p>

<hr>
<p><form action="/delete" method="POST">
<button name="id" type="submit" value="{{ info.id }}">Poista treeni</button>
</form></p>
{% endfor %}
</p>

<a href="/main">Palaa omalle etusivulle</a>

</div>

{% endblock %}