{% extends "layout.html" %}
{% block content %}

<div class="nav">
    <nav>
        <ul>
            <li><a href="/main">Etusivu</a></li>
            <li><a href="/exercises">Treenit</a></li>
            <li><a href="/friends">Kaverit</a></li>
            <div class="logout"><li><a href="/logout">Kirjaudu ulos</a></li></div>
        </ul>
    </nav>
</div>

<div class="content">

<h2>Treenin tiedot</h2>

{% for info in information %}
<p><b>Päivämäärä:</b> {{ date }}</p>
<p><b>Laji:</b> {{ info.type }}</p>
<p><b>Kesto:</b> {{ info.hours }}h {{ info.minutes }}min</p>
<p><b>Luotu</b> {{ timestamp }}</p>
<p><b>Kommentit:</b> </p>

{% for comment in comments %}
<hr>
<div class="comment">
<p><b>{{ comment.name }}:</b> {{ comment.comment }}
    {% if session.user_id == comment.user_id %}
    <form action="/delete_comment" method="POST">
    <button name="comment_id" type="submit" value="{{ comment.id }}">Poista kommentti</button>
    <input type="hidden" name="owner" value="{{ owner }}"/>
    <input type="hidden" name="id" value="{{ info.id }}"/>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% endif %}
    </p>
</div>
{% endfor %}
<hr>

<p><form action="/comment" method="POST">
<textarea name="comment" rows="3" cols="50" maxlength="1000"></textarea>
<button name="id" type="submit" value="{{ info.id }}">Lisää kommentti</button>
<input type="hidden" name="owner" value="{{ owner }}"/>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form></p>

<hr>
{% if session.user_id == owner %}
<p><form action="/delete" method="POST">
<button name="id" type="submit" value="{{ info.id }}">Poista treeni</button>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form></p>

<a href="/exercises">Palaa treenilistaan</a>
{% else %}
<a href="/friend/{{ owner }}/{{ info.name }}">Palaa käyttäjän {{ info.name }} etusivulle</a>
{% endif %}
{% endfor %}

</div>

{% endblock %}