<!DOCTYPE html>
<title>Treenilomake</title>

<form action="/send" method="POST">
<h1>Lisää treeni treenipäiväkirjaan:</h1>

<p>
<b>Laji:</b> <br>
<input type="radio" name="type" value="Kävely"> Kävely
<input type="radio" name="type" value="Juoksulenkki"> Juoksulenkki
<input type="radio" name="type" value="Kuntosali"> Kuntosali
<input type="radio" name="type" value="Pyöräily"> Pyöräily
<input type="radio" name="type" value="Uinti"> Uinti
<p>

<b>Päivämäärä:</b> <br>
<input type="date" name="date"> <br>
<p>
<b>Treenin kesto:</b>
<br>
Kirjoita muodossa hh:mm <br>
<input type="text" name="hours" size="5"> : <input type="text" name="minutes" size="5">
<p>

<b>Kommentti:</b><br>
<textarea name="comment" rows="3" cols="50"></textarea>
<p>

<input type="submit" value="Lähetä">
</form>

<p>
<a href="/">Palaa takaisin</a>
<p>