{% extends "layout.html" %}
{% block content %}

<div class="content">

<form action="/add" method="POST">
<h2>Lisää treeni treenipäiväkirjaan:</h2>

<p>
<b>Laji:</b> <br>
<input type="radio" name="type" value="Kävely", checked> Kävely
<input type="radio" name="type" value="Juoksulenkki"> Juoksulenkki
<input type="radio" name="type" value="Kuntosali"> Kuntosali
<input type="radio" name="type" value="Pyöräily"> Pyöräily
<input type="radio" name="type" value="Uinti"> Uinti
<p>

<b>Päivämäärä:</b> <br>
<input type="date" name="date", required> <br>
<p>
<b>Treenin kesto:</b>
<br>
Kirjoita muodossa hh:mm <br>
<input type="text" name="hours" size="5", minlength="2" maxlength="2", required> : <input type="text" name="minutes" size="5", minlength="2" maxlength="2", required>
<p>

<b>Kommentti:</b><br>
<textarea name="comment" rows="3" cols="50" maxlength="1000"></textarea>
<p>

<input type="submit" value="Lähetä">

<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

<p>
<a href="/main">Palaa takaisin</a>
<p>

</div>

{% endblock %}