{% extends "layout.html" %}
{% block content %}

<div class="content">

<h2>Käyttäjän {{ friend_name }} etusivu</h2>


<a href="/main">Palaa omalle etusivulle</a>

<hr>

<p><b>Ystävälista:</b><br>
<ul>
{% for friend in friends %}
    <li> {{  friend.name  }} </li>
{% endfor %}
</ul>
</p>

<hr>

<p>
<b>Treenien määrä:</b> {{ count }} <b> <br>Treenin kesto yhteensä:</b> {{ time }}
</p>

<hr>
{% for info in information %}
<b><a href="/exercise/{{ info.id }}/{{ friend_id }}">{{ info.type }}</a></b><br>
{{ info.hours }}h {{ info.minutes }}min
<hr>
{% endfor %}
</p>

<p>
<form action="/delete_friend" method="POST">
    <button name="friend_id" type="submit" value="{{ friend_id }}">Poista {{ friend_name }} ystävälistalta
    </button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</p>

</div>

{% endblock %}