{% extends "layout.html" %}
{% block content %}

<div class="nav">
    <nav>
        <ul>
            <li><a href="/main">Etusivu</a></li>
            <li><a href="/exercises">Treenit</a></li>
            <li><a href="/friends">Kaverit</a></li>
            <div class="logout"><li><a href="/logout">Kirjaudu ulos</a></li></div>
        </ul>
    </nav>
</div>

<div class="content">

<h2>Käyttäjän {{ friend_name }} etusivu</h2>


<hr>

<p><b>Kaverilista:</b><br>
<ul>
{% for friend in friends %}
    <li> {{  friend.name  }} </li>
{% endfor %}
</ul>
</p>

<hr>

<p>
<b>Treenien määrä:</b> {{ count }} <b> <br>Treenin kesto yhteensä:</b> {{ time }}
</p>

<hr>
{% for info in information %}
<b><a href="/exercise/{{ info.id }}/{{ friend_id }}">{{ info.type }}</a></b><br>
{{ info.hours }}h {{ info.minutes }}min
<hr>
{% endfor %}
</p>

<p>
<form action="/delete_friend" method="POST">
    <button name="friend_id" type="submit" value="{{ friend_id }}">Poista {{ friend_name }} ystävälistalta
    </button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</p>

<a href="/friends">Palaa kaverilistaan</a>

</div>

{% endblock %}