{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
<title>Etusivu</title>
<h2>Tervetuloa {{ session.user_name }}!</h2>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}

<p><b>Ystävälista:</b><br>
{% for friend in friends %}
{{  friend  }}
{% endfor %}
</p>

<p>
    <h3>Etsi käyttäjä</h3>

    <form action="/search" method="get">
    Syötä etsimäsi käyttäjän nimi: <br><input type="text" name="search" minlength="3" maxlength="20" value="" placeholder="Etsi käyttäjä">
    <button type="submit" class="btn btn-primary">Lisää ystäväksi</button>
    </form>
</p>

<b>Treenien määrä:</b> {{ count }} <b> <br>Treenin kesto yhteensä:</b> {{ time }}
<p>

<p>
<button onclick="location.href='/form'" type="button">
    Lisää uusi treeni</button>
<p>

<hr>
{% for info in information %}
<b>{{ info.type }}</b><br>
{{ info.hours }}h {{ info.minutes }}min
<form action="/show" method="POST">
<button name="id" type="submit" value="{{ info.id }}">Näytä tiedot</button>
</form>
<hr>
{% endfor %}
</p>

{% endblock %}