{% extends "layout.html" %}
{% block content %}

<div class="nav">
    <nav>
        <ul>
            <li><a href="/main">Etusivu</a></li>
            <li><a href="/exercises">Treenit</a></li>
            <li><a href="/friends">Kaverit</a></li>
            <div class="logout"><li><a href="/logout">Kirjaudu ulos</a></li></div>
        </ul>
    </nav>
</div>

<div class="content">

{% if session.user_id %}
<title>Etusivu</title>
<h2>Tervetuloa {{ session.user_name }}!</h2>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}

<hr>

<p>
<b>Treenien määrä:</b> {{ count }} <b> <br>Treenien kesto yhteensä:</b> {{ time }}
</p>

<p>
<div class="forms">
<form action="/add" method="get">
    <input type="submit" value="Lisää uusi treeni">
    </form>

</div>
</p>

</div>

{% endblock %}